.contact-page{
     h1{
$type: monster;
  @if $type == ocean {
    bachground-color: blue;
  } @else if $type == matador {
    bachground-color: red;
  } @else if $type == monster {
    bachground-color: green;
    color: #DA8122;
  } @else {
    bachground-color: black;
    color:red;
  }
 
     }

        }
	//for
.Home-page{
   .text-center{
	  .col-lg-6{
	    @for $i from 1 to 5 {
         .para-#{$i} {color:red;
         font-size:23px;
         font-weight:bold;
             &:hover{color:green;}
         }
         } 

          @for $i from 1 to 5 {
         .paragraph-#{$i} {color:green;
         font-size:23px;
         font-weight:bold;
             &:hover{color:red;}}
         }  

//each
@each $parap in parap, paragraphp{
  .#{$parap}-p {
    color:blue;
    &:hover{color:#da8122;
    font-size:30px;
    font-weight:bold;}
  }
}
p {
  width: 1em + (2em * 3);
}

	}
}
}
