h3{
  a:link { color: #ed6b15; }
}
h3{
  a:visited { color:#dd16d0; }
}
h3{a:hover { color: green; }
}
h3{
  a:active { color: #0dc499; }

}
@mixin linx ($link, $visit, $hover, $active) {
  h3{
    a {
    color: $link;
    &:visited {
      color: $visit;
    }
    &:hover {
      color: $hover;   
    }
    &:active {
      color: $active;
    }
  }
  }
}
h3{
  a{@include linx(white, blue, green, red);}
}

h3{
  a {
  font-weight: bold;
  text-decoration: none;
  &:hover { 
        text-decoration: underline;
        color:#f28d13; 
          }
}
}
 
 .background{background-color:#e5cff7;}
.container{
   .jumbotron{
   @extend .background;
   }
}