
.sassExample-page-1{
	.row{
	.first-part{
      
@mixin test($condition) {
    $color: if($condition, blue, red);
    color:$color;
    @content;
}

.message-1{
    @include test(true);
    background-color:lightgreen;
}

.message-2{
    @include test(false);
}

@mixin txt($weight) {
    color: #2f96bf;
    @if $weight == active { }
}

.passage-1{
    @include txt(active);
}

.passage-1{
    @include txt(inactive);
}
//if else
@mixin txt($weight) {
    color: #2bbfc4;
    @if $weight == solid { border:1px solid #d89c24;}
    @else if $weight == dotted { border:1px dotted #fc2020; }
    @else if $weight == dashed { border:1px dashed #a05151;}
    @else { border:1px dotted #a05151;}
    }

.passage-1{
    @include txt(solid);
}

.passage-1{
    @include txt(dotted);
    padding:10px;
}

.passage-1 {
    @include txt(dashed);
}

.passage-1{
 @include txt(dotted);
}

//@for
@for $i from 2 through 10 {
    .message-#{$i} {background-color: #a05151;}
}
@for $i from 1 to 10 {
    .message-#{$i} { background-color: #fc2020;}
}

//@each
@each $message in one, two, three, four {
color:white;
$padg:10px;
    .#{one}-message {
        background-color:#d89c24;
        padding:$padg;
     }
     .#{two}-message {
        background-color:red;
        padding:$padg;
     }
     .#{three}-message {
        background-color:blue;
        padding:$padg;
     }
     .#{four}-message {
        background-color:gray;
        padding:$padg;
     }
}

//@while

 }//first-part close

	.second-part{
	    $padg:10px;
	    $x:1;
	    @while $x < 5 {
    .message-#{$x} { background-color:lightgray;
    border:1px solid gray;  padding:$padg;
    }
    $x: $x + 1;
};


@mixin exp-mixin-args($direction, $gradients...) {
  background-color: nth($gradients, 1);
  background-image: exp-mixin-args($direction, $gradients...);
}
	    }

	}//row close
}//the end