@import 'form';
@import 'contact';
@import 'sassexample-1';

body {
  padding: 30px;
  $width: 550px !global;
  $container-width: 100%;
  navbar-default{
    navbar-default{
        container-fluid{
           background-color:red;
    }
      }
  }
   .input-box{
        .form-control{
            background-color:#93dcea;
        }
  }
  %navbar-styles{
  background-color:#2facc3;
       border-color:#2facc3;
       font-weight:bold;
       color:#080808;
       background-image: url("http://www.static.xperiablog.net/wp-content/uploads/2013/09/Xperia-Z1-sample_8.jpg");

  }
  .navbar-default{
       @extend %navbar-styles;

  }
 
  $color:white;
  .thumbnail{
  background-color:#bed4f4;
  &:hover{
  color:$color;
  }
  }
  
  article {
    h2 {
      font-family: Arial;
      color: blue;
    }

    .sample-paragraph-1 {
      color: #2a51bf;
      cursor: pointer;
      font-size: 30px;
    }

    .sample-paragraph-2 {
      color: #55db91;
      $name: "sassExample";
      .inner-div.#{$name}{
      color:white;
      }
      font: {
        family: fantasy;
        size: 30px;
        weight: bold;
      };

      &:hover {
        @extend .sample-paragraph-1;
      }
    }

    //variables
    p {
      background-color: white;
      color: #010203 + #040506;
    }
  }

                                      //container
  .buttons-inline {
    .btn-default {
      background-color: #ea8920;
      color: white;
      border: 0px;
      border-radius: 3px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .sample-paragraphs{
      background-color:#bed4f4;
      border-radius:8px;
      padding:10px;
         .col-lg-4{                     //mixin
         @mixin firefox-message($header) {
              .firefox #{$header}:before {
               content: "Hi, Firefox users!";
  }
}
@include firefox-message(".header");
         $color:#98119b;             
         @mixin para{
             line-height:20px;
             letter-space:2;
             color:red;
             font:{
                 weight:bold;
                 size:17px;
                 family:sarif;
                 style: italic;
             }
         }

         .paragraph-1{
             color:$color;
             @mixin my-border($color, $width) {
                border: {
                         color: $color;
                         width: $width;
                         style: dashed;
                        }
                      &:hover{
                      @content;
                      }  
}
p{ @include my-border(#efe570, 5px);
background-color:#e73fea; 
color:#1258d1;
}

         }
         .paragraph-2{
             color:#12325a;
             @include para;
                    *{
                 color:#108e39;
                 &:hover{color:#10397f;
                 }
                    @include para;
                    color:#cf38e0;
                    font-family:normal;
                 }
          &:hover{background-color:#97b4e5;
          border-radius:5px;
          padding:10px;}
         }
         .paragraph-3{
                 span,p{
                 color:#108e39;
                 &:hover{color:#efe637;}
                    @include para;
                    color:green;
                 }
          &:hover{background-color:#97b4e5;
          border-radius:5px;
          padding:10px;}
.button-extend{
        @extend .button;
          }
         }
         }
  }
  .division-1 {
    $width: 150px;
    margin: 20px;
    .button {
      width: $width;
      &:hover {
        background-color: #59bde5;
        color: white;
        border-color: #30b2c9;
      }

    }
    
  }

  .well{
  $name: "sassString";

h3.#{$name} {
  color: blue;
    margin:(1px 2px) (5px 6px);
  &:hover{
  color:white;
  }
}
  background-color:#e0c7ec;
  margin-top:10px;
  font-weight:bold;
  color:black;
  cursor:pointer;
@mixin firefox-message($selector) {
  body.firefox #{$selector}:before {
    content: "Hi, SASS users !";
  }
}
@include firefox-message(".header");

  &:hover{
  color:#2b033e;

  }
  @each $toper, $color in (h3: #ff0707, h4: #880d91, h5: #0ca509) {
  #{$toper} {
    color: $color;
  }
}
  }
  $primary-colors: (
    "red":   "#ff0000",
    "green": "#00ff00",
    "blue":  "#0000ff"
);

/* Key and value separate */
@each $color-name, $color-code in $primary-colors {
  .color-#{$color-name} {
    background: $color-code;
  }
}
  .container-fluid{
     .jumbotron{
     background-color:#2FACC3;
     }
  }
$data: "some" + "more" !default;
.row .sassString:after {
  content: "I have #{$data} on SASS!";
  &{color:#11916a;}
}

$content: "First content";
$content: "Second content?" !default;
$new_content: "First time reference" !default;

.well .sassString {
  content: $content;
  new-content: $new_content;
}
}/*body closed*/