h3 a:link {
  color: #ed6b15; }

h3 a:visited {
  color: #dd16d0; }

h3 a:hover {
  color: green; }

h3 a:active {
  color: #0dc499; }

h3 a h3 a {
  color: white; }
  h3 a h3 a:visited {
    color: blue; }
  h3 a h3 a:hover {
    color: green; }
  h3 a h3 a:active {
    color: red; }

h3 a {
  font-weight: bold;
  text-decoration: none; }
  h3 a:hover {
    text-decoration: underline;
    color: #f28d13; }

.background, .container .jumbotron {
  background-color: #e5cff7; }

.contact-page h1 {
  bachground-color: green;
  color: #DA8122; }

.Home-page .text-center .col-lg-6 .para-1 {
  color: red;
  font-size: 23px;
  font-weight: bold; }
  .Home-page .text-center .col-lg-6 .para-1:hover {
    color: green; }
.Home-page .text-center .col-lg-6 .para-2 {
  color: red;
  font-size: 23px;
  font-weight: bold; }
  .Home-page .text-center .col-lg-6 .para-2:hover {
    color: green; }
.Home-page .text-center .col-lg-6 .para-3 {
  color: red;
  font-size: 23px;
  font-weight: bold; }
  .Home-page .text-center .col-lg-6 .para-3:hover {
    color: green; }
.Home-page .text-center .col-lg-6 .para-4 {
  color: red;
  font-size: 23px;
  font-weight: bold; }
  .Home-page .text-center .col-lg-6 .para-4:hover {
    color: green; }
.Home-page .text-center .col-lg-6 .paragraph-1 {
  color: green;
  font-size: 23px;
  font-weight: bold; }
  .Home-page .text-center .col-lg-6 .paragraph-1:hover {
    color: red; }
.Home-page .text-center .col-lg-6 .paragraph-2 {
  color: green;
  font-size: 23px;
  font-weight: bold; }
  .Home-page .text-center .col-lg-6 .paragraph-2:hover {
    color: red; }
.Home-page .text-center .col-lg-6 .paragraph-3 {
  color: green;
  font-size: 23px;
  font-weight: bold; }
  .Home-page .text-center .col-lg-6 .paragraph-3:hover {
    color: red; }
.Home-page .text-center .col-lg-6 .paragraph-4 {
  color: green;
  font-size: 23px;
  font-weight: bold; }
  .Home-page .text-center .col-lg-6 .paragraph-4:hover {
    color: red; }
.Home-page .text-center .col-lg-6 .parap-p {
  color: blue; }
  .Home-page .text-center .col-lg-6 .parap-p:hover {
    color: #da8122;
    font-size: 30px;
    font-weight: bold; }
.Home-page .text-center .col-lg-6 .paragraphp-p {
  color: blue; }
  .Home-page .text-center .col-lg-6 .paragraphp-p:hover {
    color: #da8122;
    font-size: 30px;
    font-weight: bold; }
.Home-page .text-center .col-lg-6 p {
  width: 7em; }

.sassExample-page-1 .row .first-part {
  color: white;
  color: white;
  color: white;
  color: white; }
  .sassExample-page-1 .row .first-part .message-1 {
    color: blue;
    background-color: lightgreen; }
  .sassExample-page-1 .row .first-part .message-2 {
    color: red; }
  .sassExample-page-1 .row .first-part .passage-1 {
    color: #2f96bf; }
  .sassExample-page-1 .row .first-part .passage-1 {
    color: #2f96bf; }
  .sassExample-page-1 .row .first-part .passage-1 {
    color: #2bbfc4;
    border: 1px solid #d89c24; }
  .sassExample-page-1 .row .first-part .passage-1 {
    color: #2bbfc4;
    border: 1px dotted #fc2020;
    padding: 10px; }
  .sassExample-page-1 .row .first-part .passage-1 {
    color: #2bbfc4;
    border: 1px dashed #a05151; }
  .sassExample-page-1 .row .first-part .passage-1 {
    color: #2bbfc4;
    border: 1px dotted #fc2020; }
  .sassExample-page-1 .row .first-part .message-2 {
    background-color: #a05151; }
  .sassExample-page-1 .row .first-part .message-3 {
    background-color: #a05151; }
  .sassExample-page-1 .row .first-part .message-4 {
    background-color: #a05151; }
  .sassExample-page-1 .row .first-part .message-5 {
    background-color: #a05151; }
  .sassExample-page-1 .row .first-part .message-6 {
    background-color: #a05151; }
  .sassExample-page-1 .row .first-part .message-7 {
    background-color: #a05151; }
  .sassExample-page-1 .row .first-part .message-8 {
    background-color: #a05151; }
  .sassExample-page-1 .row .first-part .message-9 {
    background-color: #a05151; }
  .sassExample-page-1 .row .first-part .message-10 {
    background-color: #a05151; }
  .sassExample-page-1 .row .first-part .message-1 {
    background-color: #fc2020; }
  .sassExample-page-1 .row .first-part .message-2 {
    background-color: #fc2020; }
  .sassExample-page-1 .row .first-part .message-3 {
    background-color: #fc2020; }
  .sassExample-page-1 .row .first-part .message-4 {
    background-color: #fc2020; }
  .sassExample-page-1 .row .first-part .message-5 {
    background-color: #fc2020; }
  .sassExample-page-1 .row .first-part .message-6 {
    background-color: #fc2020; }
  .sassExample-page-1 .row .first-part .message-7 {
    background-color: #fc2020; }
  .sassExample-page-1 .row .first-part .message-8 {
    background-color: #fc2020; }
  .sassExample-page-1 .row .first-part .message-9 {
    background-color: #fc2020; }
  .sassExample-page-1 .row .first-part .one-message {
    background-color: #d89c24;
    padding: 10px; }
  .sassExample-page-1 .row .first-part .two-message {
    background-color: red;
    padding: 10px; }
  .sassExample-page-1 .row .first-part .three-message {
    background-color: blue;
    padding: 10px; }
  .sassExample-page-1 .row .first-part .four-message {
    background-color: gray;
    padding: 10px; }
  .sassExample-page-1 .row .first-part .one-message {
    background-color: #d89c24;
    padding: 10px; }
  .sassExample-page-1 .row .first-part .two-message {
    background-color: red;
    padding: 10px; }
  .sassExample-page-1 .row .first-part .three-message {
    background-color: blue;
    padding: 10px; }
  .sassExample-page-1 .row .first-part .four-message {
    background-color: gray;
    padding: 10px; }
  .sassExample-page-1 .row .first-part .one-message {
    background-color: #d89c24;
    padding: 10px; }
  .sassExample-page-1 .row .first-part .two-message {
    background-color: red;
    padding: 10px; }
  .sassExample-page-1 .row .first-part .three-message {
    background-color: blue;
    padding: 10px; }
  .sassExample-page-1 .row .first-part .four-message {
    background-color: gray;
    padding: 10px; }
  .sassExample-page-1 .row .first-part .one-message {
    background-color: #d89c24;
    padding: 10px; }
  .sassExample-page-1 .row .first-part .two-message {
    background-color: red;
    padding: 10px; }
  .sassExample-page-1 .row .first-part .three-message {
    background-color: blue;
    padding: 10px; }
  .sassExample-page-1 .row .first-part .four-message {
    background-color: gray;
    padding: 10px; }
.sassExample-page-1 .row .second-part .message-1 {
  background-color: lightgray;
  border: 1px solid gray;
  padding: 10px; }
.sassExample-page-1 .row .second-part .message-2 {
  background-color: lightgray;
  border: 1px solid gray;
  padding: 10px; }
.sassExample-page-1 .row .second-part .message-3 {
  background-color: lightgray;
  border: 1px solid gray;
  padding: 10px; }
.sassExample-page-1 .row .second-part .message-4 {
  background-color: lightgray;
  border: 1px solid gray;
  padding: 10px; }

body {
  padding: 30px;
  /* Key and value separate */ }
  body navbar-default navbar-default container-fluid {
    background-color: red; }
  body .input-box .form-control {
    background-color: #93dcea; }
  body .navbar-default {
    background-color: #2facc3;
    border-color: #2facc3;
    font-weight: bold;
    color: #080808;
    background-image: url("http://www.static.xperiablog.net/wp-content/uploads/2013/09/Xperia-Z1-sample_8.jpg"); }
  body .thumbnail {
    background-color: #bed4f4; }
    body .thumbnail:hover {
      color: white; }
  body article h2 {
    font-family: Arial;
    color: blue; }
  body article .sample-paragraph-1, body article .sample-paragraph-2:hover {
    color: #2a51bf;
    cursor: pointer;
    font-size: 30px; }
  body article .sample-paragraph-2 {
    color: #55db91;
    font-family: fantasy;
    font-size: 30px;
    font-weight: bold; }
    body article .sample-paragraph-2 .inner-div.sassExample {
      color: white; }
  body article p {
    background-color: white;
    color: #050709; }
  body .buttons-inline .btn-default {
    background-color: #ea8920;
    color: white;
    border: 0px;
    border-radius: 3px;
    padding-left: 20px;
    padding-right: 20px; }
  body .sample-paragraphs {
    background-color: #bed4f4;
    border-radius: 8px;
    padding: 10px; }
    body .sample-paragraphs .col-lg-4 .firefox .header:before {
      content: "Hi, Firefox users!"; }
    body .sample-paragraphs .col-lg-4 .paragraph-1 {
      color: #98119b; }
      body .sample-paragraphs .col-lg-4 .paragraph-1 p {
        border-color: #efe570;
        border-width: 5px;
        border-style: dashed;
        background-color: #e73fea;
        color: #1258d1; }
    body .sample-paragraphs .col-lg-4 .paragraph-2 {
      color: #12325a;
      line-height: 20px;
      letter-space: 2;
      color: red;
      font-weight: bold;
      font-size: 17px;
      font-family: sarif;
      font-style: italic; }
      body .sample-paragraphs .col-lg-4 .paragraph-2 * {
        color: #108e39;
        line-height: 20px;
        letter-space: 2;
        color: red;
        font-weight: bold;
        font-size: 17px;
        font-family: sarif;
        font-style: italic;
        color: #cf38e0;
        font-family: normal; }
        body .sample-paragraphs .col-lg-4 .paragraph-2 *:hover {
          color: #10397f; }
      body .sample-paragraphs .col-lg-4 .paragraph-2:hover {
        background-color: #97b4e5;
        border-radius: 5px;
        padding: 10px; }
    body .sample-paragraphs .col-lg-4 .paragraph-3 span, body .sample-paragraphs .col-lg-4 .paragraph-3 p {
      color: #108e39;
      line-height: 20px;
      letter-space: 2;
      color: red;
      font-weight: bold;
      font-size: 17px;
      font-family: sarif;
      font-style: italic;
      color: green; }
      body .sample-paragraphs .col-lg-4 .paragraph-3 span:hover, body .sample-paragraphs .col-lg-4 .paragraph-3 p:hover {
        color: #efe637; }
    body .sample-paragraphs .col-lg-4 .paragraph-3:hover {
      background-color: #97b4e5;
      border-radius: 5px;
      padding: 10px; }
  body .division-1 {
    margin: 20px; }
    body .division-1 .button, body .division-1 .sample-paragraphs .col-lg-4 .paragraph-3 .button-extend, body .sample-paragraphs .col-lg-4 .paragraph-3 .division-1 .button-extend {
      width: 150px; }
      body .division-1 .button:hover, body .division-1 .sample-paragraphs .col-lg-4 .paragraph-3 .button-extend:hover, body .sample-paragraphs .col-lg-4 .paragraph-3 .division-1 .button-extend:hover {
        background-color: #59bde5;
        color: white;
        border-color: #30b2c9; }
  body .well {
    background-color: #e0c7ec;
    margin-top: 10px;
    font-weight: bold;
    color: black;
    cursor: pointer; }
    body .well h3.sassString {
      color: blue;
      margin: 1px 2px 5px 6px; }
      body .well h3.sassString:hover {
        color: white; }
    body .well body.firefox .header:before {
      content: "Hi, SASS users !"; }
    body .well:hover {
      color: #2b033e; }
    body .well h3 {
      color: #ff0707; }
    body .well h4 {
      color: #880d91; }
    body .well h5 {
      color: #0ca509; }
  body .color-red {
    background: "#ff0000"; }
  body .color-green {
    background: "#00ff00"; }
  body .color-blue {
    background: "#0000ff"; }
  body .container-fluid .jumbotron {
    background-color: #2FACC3; }
  body .row .sassString:after {
    content: "I have somemore on SASS!"; }
    body .row .sassString:after {
      color: #11916a; }
  body .well .sassString {
    content: "First content";
    new-content: "First time reference"; }

/*body closed*/

/*# sourceMappingURL=sample.css.map */
